{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERISA Recovery Claims{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fira Sans + Fira Mono -->
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <main class="container">
        
        {% if not user.is_authenticated %}
            {% include 'claims/partials/_theme_button.html' %}
        {% endif %}

        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li>
                    <h2><a href="/">Claims Management System</a></h2>
                </li>
            </ul>

            <ul>
                <li>Hi, <strong>{{ user.username }}</strong></li>

                <li class="nav-actions">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="contrast logout-btn">Logout</button>
                    </form>

                    {% include 'claims/partials/_theme_button.html' %}
                </li>
            </ul>

        </nav>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script>

        // standard Django-recommended script to get the CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        // Add the token to all HTMX POST, PUT, DELETE requests
        document.body.addEventListener('htmx:configRequest', (event) => {
            if (!['get', 'head', 'options', 'trace'].includes(event.detail.verb)) {
                event.detail.headers['X-CSRFToken'] = csrftoken;
            }
        });

        // script to handle detail view toggling
        document.body.addEventListener('htmx:beforeRequest', function (event) {
            const trigger = event.detail.elt;
            if (trigger.classList.contains('js-view-details-btn')) {
                const dataRow = trigger.closest('tr');
                const nextRow = dataRow.nextElementSibling;
                if (nextRow && nextRow.classList.contains('inserted-detail-row')) {
                    nextRow.remove();
                    event.preventDefault();
                }
            }
        });
    </script>
</body>

</html>
